import React, { useState} from 'react';
import { useSelector, useDispatch } from 'react-redux';
import { act{{pascalCase name}} } from './{{pascalCase name}}Action';
import get{{pascalCase name}} from './{{pascalCase name}}Selector';
import { runSaga } from '../../common/Store/Store';
import {{camelCase name}}Saga from './{{pascalCase name}}Saga';

runSaga({{camelCase name}}Saga);

const {{ pascalCase name}}Container = () => {
    const dispatch = useDispatch();
    const {{camelCase name}}State = useSelector(get{{pascalCase name}});

    function on{{pascalCase name}}(id){
        dispatch(act{{pascalCase name}}({ id: id }));
    }

    return (
        <>
            <p>Xin chào đây là chức năng { {{camelCase name}}State }</p>
        </>
    );
}
export { {{ pascalCase name}}Container };