import { Fragment } from 'react';

import {Container, Row, Col} from 'react-bootstrap';
import { AppHeader } from '../../common/Layout/AppHeader';
import {NavBar} from '../../common/Layout/AppNavbar';
import { {{pascalCase name}}Container } from './{{ pascalCase name}}Container';

const {{pascalCase name}} = () => {
    return(
        <Fragment>
            <AppHeader />
            <Container fluid="md">
                <Row>
                    <Col xs={3}>
                    <NavBar />
                    </Col>
                    <Col xs={9}>
                    <{{ pascalCase name}}Container />
                    </Col>
                </Row>
            </Container>
        </Fragment>
    );
};

export default {{pascalCase name}};