import * as types from './{{pascalCase name}}Constants';
import produce from 'immer';

export const initialState = {
    {{camelCase name}}: "{{pascalCase name}}"
};

const {{camelCase name}}Reducer = (state = initialState, action) => 
    produce(state , draft =>{
        switch (action.type) {
            case types.{{upperCase name}}:
                draft.{{camelCase name}} = action.payload;
                break;
            
            default: 
            break;
        }
    });
export default {{camelCase name}}Reducer;