import { takeEvery, all, put } from 'redux-saga/effects';
import * as types from './{{pascalCase name}}Constants';

function* watchFetch{{pascalCase name}}Action({ payload }) {
    yield console.log(payload);
    // const list = yield select(state);
}

export default function* {{camelCase name}}Saga(){
    yield all([
        watchFetch{{pascalCase name}}Action()
    ]);  
}