import { createSelector } from 'reselect';
import { initialState } from './{{pascalCase name}}Reducer';

const {{camelCase name}} = state => state.{{camelCase name}}Reducer.{{camelCase name}} || initialState.{{camelCase name}};


const get{{pascalCase name}} = createSelector(
    [ {{camelCase name}}],
    ({{camelCase name}} ) => {{camelCase name}}
)

export default get{{pascalCase name}};