@CHARSET "UTF-8";

a, a:focus{
	outline: 0;
}

.col-trandate{
	width: 95px;
}

.col-remark{
	width: 150px;
}

.col-amount{
	width: 80px;
}

.col-balance{
}

.col-action{
}

img.keyboardInputInitiator {
    position: absolute;
    right: 5px;
    top: 6px;
}

.main-navigation li.item-verify span.notify{
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 1px;
    color: #FFFFFF;
    line-height: normal;
    padding: 0 3px;
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
    font-weight: normal;
}

.nav-box ul#notify li a span.notify{
	display: inline-block;
    margin-left: 4px;
    font-weight: normal;
    position: relative;
    left: auto;
    top: auto;
    font-size: 11px;
}

.bold{
	font-weight: bold;
}

ul.page-break li{
	margin: 0px 1px;
    *width: 5%;
    *display: inline;
}

.form-control-static #clearFile{
	width: 20px;
}

.inline .formErrorContent{
    width: 100%;
    *width: 90%;
    *margin-left: 6px;
    background: #fef5f1 url("../images/error_icon.png") no-repeat center left;
    background-size: 20px;
    background-position: 10px;
    color:  #c01919;
    line-height: 15px;
    text-align: left;
    margin-top:7px;
    border: 1px solid #EC2327;
    box-shadow: none;
    padding: 10px 10px 10px 35px;
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}


/* TradePortal */
.red{color: #c52620}

.width77pc {
	width: 77%;
}

.width68pc {
	width: 65%;
}

.width20pc {
	width: 20%;
}

.width70 {
	width: 70px;
}

.width60 {
	width: 60px !important;
}

.width200 {
	width: 200px;
}

.page-action span.left {
	display: block;
	float: left;
	text-align: right;
}

.page-action span.center {
	display: block;
	float: left;
	color: #214b85;
}

.label, .badge {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.label {
    border-radius: 3px;
}
.badge {
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
.label:empty, .badge:empty {
    display: none;
}
a.label:hover, a.label:focus, a.badge:hover, a.badge:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label-important, .badge-important {
    background-color: #B94A48;
}
.label-important[href], .badge-important[href] {
    background-color: #953B39;
}
.label-warning, .badge-warning {
    background-color: #F89406;
}
.label-warning[href], .badge-warning[href] {
    background-color: #C67605;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label-success[href], .badge-success[href] {
    background-color: #356635;
}
.label-info, .badge-info {
    background-color: #3A87AD;
}
.label-info[href], .badge-info[href] {
    background-color: #2D6987;
}
.label-inverse, .badge-inverse {
    background-color: #333333;
}
.label-inverse[href], .badge-inverse[href] {
    background-color: #1A1A1A;
}
.btn .label, .btn .badge {
    position: relative;
    top: -1px;
}
.btn-mini .label, .btn-mini .badge {
    top: 0;
}
.proccess-time{
	font-weight: 500;
}
form#outpaymentForm .form-group{
	overflow: visible;
}

th[data-sort] {
    cursor: pointer;
    color: #FF2;
    font-weight: bold;
}

form#filterForm{
	margin-bottom: 20px;
}

form#filterForm .page-table h2 {
	margin-top: 0px;
}

tr.group{
    cursor:pointer;
}
.group .icon-sign:after{
  content:"\f055";
  display:inline-block;      
}
.group.expand .icon-sign:after{
  content:"\f056";
}
.trx-detail .form-group{
	border-bottom: 1px dotted #ccc
}
.trx-detail .control-label{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	padding-left: 0px;
}
.trx-detail p.form-control-static{
	font-size: 12px;
}
.form-group .select2-container--default .select2-selection--single {
	border-radius: 0px;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #214b85;
	font-size: 14px;
}
.form-group .select2-container .select2-selection--single {
	height: 32px;
}

pre.error {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: "Tahoma",sans-serif;
    color: red;
}

ul.top-action {
	margin-bottom: 3px;
}
ul.top-action li {
	margin-left: 15px;
}

/* Dropdown */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

ul.top-action .dropdown-content a{
    font-weight: normal;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#cttf-status{
	font-size: 20px;
	color:red;
}