/*
Theme Name: VietinBank iCorp
Version: 1.0
For IE 8 and down
*/
/* Grid */

.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-md-10, 
.col-md-11, 
.col-md-12 {
	padding-right: 0;
    padding-left: 0;
	margin-right: 1%;
    margin-left: 1%;
}
.col-md-1 {
	width: 6.3%;
}
.col-md-2 {
	width: 14.6%;
}
.col-md-3 {
	width: 23.0%;
}
.col-md-4 {
	width: 31.3%;
}
.col-md-5 {
	width: 39.6%;
}
.col-md-6 {
	width: 48.0%;
}
.col-md-7 {
	width: 56.3%;
}
.col-md-8 {
	width: 64.6%;
}
.col-md-9 {
	width: 73.0%;
}
.col-md-10 {
	width: 81.3%;
}
.col-md-11 {
	width: 89.6%;
}
.col-md-12 {
	width: 98.0%;
}
.nav-box ul#notify li a span {
	*padding: 0;
}
.login-page .col-md-4, .login-page .col-md-12 {
	margin-left: 0;
	margin-right: 2%;
	_margin-left: 0;
	_margin-right: 2%;
}
.login-page .col-md-8 {
	margin-left: 2%;
	margin-right: 0;
	_margin-left: 0;
	_margin-right: 0;
}
img.keyboardInputInitiator {
	_top: 6px;
	_right: 22px;
}
.form-group {
	overflow: hidden;
}
.form-control {
    .width: 97%; 
}
.page-content {
	.padding: 2%;
	.width: 95.7%;
	_padding: 0;
	_width: 98.133333%;
}
.page-step {
	.overflow: hidden;	
}
ul.inline > li, ol.inline > li {
    *zoom: 1;
}
textarea.form-control {
	overflow: auto;
    max-width: auto;
    min-width: auto;
	*padding-right: 0;
}
select.form-control {
	*margin-left: 6px;
	*padding-bottom: 8px;
	*width: 98.5%;
	*margin-top: 6px;
}
input.form-control {
	*padding-right: 0;
	_padding-right: 12px;
}
input.import-file-type {
	*margin-left: 5px;
}
p.form-control-static {
	*margin-left: 6px;
}

table tbody tr {
    border-top: 2px solid #fff;
}
table tbody tr.even {
    background: #eeeeee !important;
}

table tbody tr.odd {
    background: #f8f8f8 !important;
}
.input-icon input {
	.padding-right: 0;
	_padding-right: 12px;
	*margin-left: 6px;
}
.table-list .input-icon input {
	*margin-left: 0;
}
.input-currency input {
	.padding-right: 0;
}
.input-currency b {
	.right: 10px;
}
.input-percent input {
	.padding-left: 0px;

}
.input-percent b {
	.right: 10px;
}
.input-percent span {
	.left: 10px;
}
.input-day b {
	.right: 10px;
}
.panel-body  .input-icon input{
	*margin-left: 0;
}
.btn.blue {
	*padding: 9px 35px;
	_color: white;
}
.btn.red {
	*padding: 9px 25px;
}
.btn.default {
	*padding: 9px 35px;
}
.page-table table th, .page-table table td,table.table-list thead th, table.table-list tbody td {
    padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}
.dstk-filter .btn  {
	padding: 8px 21px;  
    *padding: 1px 9px; 
}
.dstk-filter .col-md-3, .dstk-filter .col-md-4 {
	margin-left: 15px;
	*margin-left: 0;
	margin-right: 0;
	*margin-right: 1%;
}
.dstk-filter .col-md-4 {
	*margin-right: 3%;
}
.dstk-filter select.form-control  {
	*margin-left: 13px;
	*margin-top: 0;
}
.acc-info .col-md-6 {
	margin-left: 0;
	margin-right: 0;
}
ul.top-action .col-md-6 {
    *padding-left: 0;
    *padding-right: 0;
}
.table-action a {
	*display: block;
	*zoom: 1;
}
.table-action a.exp-file {
	*margin-right: 0;
}

.live-content.column {
    *margin-right: 1.53%;
    *width: 31.333%;
    _margin-right: 1.53%;
    _width: 31.333%;    
}
.live-content.column3 {
    *margin-right: 0;
    _margin-right: 0;
}
.chtg-block .page-content {
    padding-left: 0;
    padding-right: 0;
    .width: 100%;
}
.info-corp {
	.width: 100%;
}
.info-corp .col-md-4, .info-corp .col-md-8 {
	margin-left: 0;
	margin-right: 0;
	min-height: 19px;
}
.info-corp .col-md-8{
	padding-left: 15px;
	padding-right: 15px;
	*padding-left: 0;
	*padding-right: 0;		
}
ul.email-action {
    .position: absolute;
    .top: 8px;
    .right: 15px;
}
.action-message.explain {
    border-color: #99ccff;
    *border-color: #99ccff;
}
.action-message.confirm  {
    border-color: #3399ff;
    *border-color: #3399ff;
}
.action-message.info, .action-message.success {
    border-color: #99cc99;
    *border-color: #99cc99;
}
.action-message.warning {
    border-color: #cccc99;
    *border-color: #cccc99;
}

.action-message.failure {
    border-color: #cc9999;
    *border-color: #cc9999;
}
/* IE6 */
#footer .column {
	_width: 18%;
	_margin: 0;
	
}
#footer .column#connect {
	 _width: 20%;
}
#footer .column ul a {
    _height: 14px;
    _margin-top: 0;
    _padding: 0;
}
#footer .column ul li {
	_background-color: transparent;
	_margin-top: 0;
}
#footer .column .social li {
	_width: 30px;
	_height: 30px;
}

#header {
	_background: url("../images/line.gif") repeat-x scroll 0 91px transparent;
}
.lang-vi {
	_background: transparent url("../images/lang-vi-small.gif") no-repeat 0 0;
}
.lang-en {
	_background: transparent url("../images/lang-en-small.gif") no-repeat 0 0;
}
.lang-ja {
	_background: transparent url("../images/lang-ja-small.gif") no-repeat 0 0;
}
.lang-ko {
	_background: transparent url("../images/lang-ko-small.gif") no-repeat 0 0;
}
.lang-zh {
	_background: transparent url("../images/lang-zh-small.gif") no-repeat 0 0;
}