html, body {
	/*height:100%;*/
}
body {
	padding: 1px;
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	overflow: visible;
}
::-webkit-scrollbar {
	width:10px;
	height:10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
/*	width: 10px;
	display: block;
	background-color: #fff;*/
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 10px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888 !important;
}

input[type="submit"], input[type="button"] {
	background-color: #006ecb;
	border-width: 0;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Tahoma',sans-serif;
	font-size: 14px;
	outline: medium none;
	font-weight: bold;
	padding: 8px 0;
	text-align: center;
	width: 100%;
	border: 1px solid #006ecb;

}

input[type="text"] {
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
	display: block;
	width: 100%;
	color: #214b85;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding-left: 1%;
}

select {
    -moz-appearance: none;
    background: url("../images/drop-down.png") no-repeat scroll right center #FFFFFF;
    text-indent: 0.01px;
    text-overflow: "";
    -webkit-appearance: none;
    padding: 8px 0;
}

select option {
    padding: 0 6px;
}

.block_padded {
	padding: 0 1%;
}

/* Table style */
.block_padded table {
	padding-left: 0;
	padding-right: 0; 
}
table tr th {
	background: none repeat scroll 0 0 #0678B3;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	padding: 11px 1%;
	text-align: left;
	vertical-align: middle !important; 
}
table tr td  {
	padding: 9px 1%;
	vertical-align: top;
}
.stacktable.respondsive-added {

}
table.stacktable.respondsive-added tr:nth-child(2n+1), table.stacktable.respondsive-added tr {
	background: #f8f8f8 !important;
}

table.stacktable.respondsive-added tbody tr:nth-child(2n), table.stacktable.respondsive-added tr.sgray {
	background: #eeeeee !important;
}

.stacktable.respondsive-added .rps-table-key{
	width: 35%;
	float: left;

}
.stacktable.respondsive-added .rps-table-val {
	width: 65%;
	float: right;
}

.stacktable.respondsive-added .page-table table td {
	display: block;
	width: 100%;
	padding: 4px 5%;
}
.page-table table.popup_data tbody tr:hover {
	background: #69BCE7 !important;
	-webkit-transition-property:background, color;
	-moz-transition-property:background, color;
	-o-transition-property:background, color;
	transition-property:background, color;
	-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;
	-o-transition-duration:.2s;
	transition-duration:.2s;
}
h3.search-title {
	font-family: "Tahoma", sans-serif;
	font-size: 16px;
	padding: 10px 0 5px;
	cursor: default;
	color: #0678B3;
	border-bottom: 2px solid #0678B3;
}
h3.action-title {
	font-family: "Tahoma", sans-serif;
	font-size: 16px;
	cursor: default;
	padding-bottom: 5px;
	padding-top: 10px;
	margin-bottom: 0;
}
.stacktable.respondsive-added tr:first-child {
	display:none
}
.str-box {
	width: 57% !important;
	float: left;
	margin: 0 !important;
	padding: 8px 0;

}

.str-box-select {
	width: 57% !important;
	float: left;
	margin: 0 !important;
	padding-right: 1%;
}

.search-btn {
	width: 40% !important;
	float: right;
	margin: 0 !important;
}
.search-box {
	margin-bottom: 10px; 
}


table.popup_data {
	display: table !important;
}
.stacktable.respondsive-added {
	display: none;
}

table.popup_data tbody tr td{
	border-bottom: 2px solid #fff;
}
table.popup_data tbody tr {
	background: #f8f8f8;
}
table.popup_data tbody tr.sgray {
	background: #eeeeee !important;
}
table.popup_data tbody tr input {
	display: none !important; 
}

@media screen and (max-width: 400px) {	
	table.popup_data {
		display: none !important;
	}
	.stacktable.respondsive-added {
		display: table !important;
	}
	.page-table table tbody td:hover {
		background: #69BCE7;
		-webkit-transition-property:background, color;
		-moz-transition-property:background, color;
		-o-transition-property:background, color;
		transition-property:background, color;
		-webkit-transition-duration:.2s;
		-moz-transition-duration:.2s;
		-o-transition-duration:.2s;
		transition-duration:.2s;
	}

}
/* IE Fix */
input[type="button"] {
	*border: 0px solid #fff !important;
}
input[type="text"] {
	*padding: 11px 5px;
}
select {
	*padding: 11px 5px;
}
h3.action-title {
	*padding-top: 40px;
	*display: block;
}