

/* print.css */
body {
	line-height:1.5;
	font-family:"Helvetica Neue",
	 Tahoma, Arial, Helvetica, sans-serif;color:#000;background:none;
	 font-size:13px;
	}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
img {float:left;margin:1.5em 1.5em 1.5em 0;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}

/*Mail box*/
.email-detail {
	position: relative;
}
h1 {
	font-size: 16px;
}

h4.email-title {
	font-size: 18px;
	color: #0678B3;
	border-bottom: 1px solid #aeaeae;
	display: block;
	padding-bottom: 10px;
	font-family: "Tahoma", sans-serif;
}

.email-properties {
	margin-top: 20px;
}

.email-properties .gG {
	font-size: 14px;
}

.email-properties .gL {
	font-size: 13px;
}

.gG {
	color: #323232;
	padding: 4px 16px 4px 5px;
	text-align: right;
}

.gG {
	text-align: right;
	color: #777;
	white-space: nowrap;
	vertical-align: top;
	width: 0%;
}

.gL {
	padding: 4px 0 4px 0;
	white-space: nowrap;
}

.gL {
	width: auto;
}

.gL {
	white-space: normal;
	vertical-align: top;
	width: 100%;
}

.gI {
	vertical-align: top;
	cursor: auto;
	text-align: left !important;
}

.gD {
	font-size: 100%;
	font-weight: bold;
	white-space: nowrap;
	display: inline;
	vertical-align: top;
}

.gL {
	white-space: nowrap;
}

.email-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.email-content p {
	line-height: 22px;
}
