/*
Theme Name: VietinBank iCorp
Theme URI: http://timeuniversal.vn/
Author: Time Universal Communications
Author URI: http://timeuniversal.vn/
Description: Designed by Time Universal
Version: 1.0
*/
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
    color: #444;
    background: #FFF;
}

body.menu-open {
    overflow: hidden;
    overflow-y: scroll;
}

img {
    border: none;
}

li {
    list-style: none;
}

a {
    color: #0678B3;
    text-decoration: none;
}

a:hover {
    color: #7dc3ff;
}

table {
    border-collapse: collapse;
    border-spacing: 0 ;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    overflow-x: scroll !important;
}
.f-l {
    float: left;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Grid */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 14px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-md-1 {
    width: 8.33333333%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-6 {
    width: 50%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-9 {
    width: 75%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-12 {
    width: 100%;
} 

/*  Button */
.btn {
    background-color: #BDBDBD;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    outline: medium none;
    font-weight: bold;
}

.btn.blue {
    color: #FFFFFF;
    background-color: #005993;
    padding: 9px 65px;
}

.btn.red {
    color: #FFFFFF;
    background-color: #D30A0E;
    padding: 9px 55px;
    margin-right: 5px;
}

.btn.default {
    color: #FFFFFF;
    background-color: #888888;
    padding: 9px 55px;
    margin-right: 5px;
}

.btn.view {
    color: #FFFFFF;
    background-color: #006ecb;
    padding: 9px 65px;
    margin-right: 5px;
}

.btn.blue:hover {
    background-color: #004c7c;
}

.btn.blue:disabled {
    background-color: #888888;
    color: #FFFFFF;
}

.btn.red:hover {
    background-color: #C10000;
}

.btn.default:hover {
    background-color: #686868;
}

.btn.view:hover {
    background-color: #004EAB;
}

/* Form styles */
.form-actions.right {
    padding-left: 0;
    text-align: right;
}

.form-actions.top {
    margin-top: 20px;
}

.form-actions.bottom {
    margin-bottom: 20px;
}

.action-title {
    color: #323232;
    font-size: 13px;
    font-family: "Tahoma", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    padding: 5px 0px;
}

.no-padding {
	margin-bottom: 10px;
}

.no-padding .form-group {
    padding: 0; 
}

.no-padding .control-label,  {
	font-size: 13px;
}

.no-padding .form-group p {
	margin: 9px 0;	
}

.form-group p {
    font-size: 14px;
    margin: 9px 0;
}

.form-group p a {
    color: #214b85;
    text-decoration: underline;
}

.form-group.action-check {
    margin-top: 30px;
}

.form-group.action-check .col-md-12 {
    padding: 0;
}

.form-group.action-check .checkbox-inline {
    padding: 0;
}

.action-box .form-group:last-child {
    margin-bottom: 0px;
}

.help-block {
    display: block;
    margin-top: 0;
    color: #737373;
    font-style: italic;
    font-size: 12px;
}

.help-block input {
    background: none repeat scroll 0 0 !important;
    border: medium none;
    color: #737373;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    text-align: center;
    width: 25px;
    cursor: default;
}
.help-block input.medium_left {
	width: 30px;
}

.form-group p.download-block {
	margin: 3px 0;
}

.form-group .download-block a {
    display: inline-block;
    font-size: 13px;
    margin-left: 23px;
    text-decoration: none;
}
.form-group .download-block a:hover {
    text-decoration: underline;
}

.control-label {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
}

.form-horizontal .control-label {
    text-align: right;
}

.control-label .require {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    display: table;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}

.form-horizontal .control-label, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 8px;
    margin-top: 0;
}

.form-horizontal .control-label {
    padding-bottom: 8px;
}

.form-control:-moz-placeholder {
    color: #999999;
}

.form-control::-moz-placeholder {
    color: #999999;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 6px 6px;
    line-height: 1.428571429;
    color: #214b85;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eeeeee;
}

textarea.form-control {
    max-width: 100%;
    min-width: 100%;
}

select.form-control {
    -moz-appearance: none;
    background: url("../images/drop-down.png") no-repeat scroll right center #FFFFFF;
    text-indent: 0.01px;
    text-overflow: "";
    -webkit-appearance: none;
}

select.form-control option {
    padding: 0 6px;
}

.form-control-static {
    color: #214b85;
    margin-bottom: 0;
}

.email-compose .form-group p.form-control-static {
    margin: 5px 0;
}

.serv_req .form-group p.form-control-static {
    margin: 5px 0;
}

.form-control-static input {
    width: 90%;
}

.form-control-static input#attachment  {
    width: 50%;
}

.form-control-static #clearFile  {
	font-size: 13px;
	font-weight: normal;
	text-indent: -9999px;
	margin: 3px 0 0 0;
     background: url("../images/DeleteRed_small.png") no-repeat scroll left center transparent;
}

/* Header */
#icorp-block {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container {
    width: 94%;
    margin: 0 auto;
    max-width: 1200px;
}

#header {
    position: relative;
    display: block;
    z-index: 10;
    background: url("../images/line.png") no-repeat scroll right 81px transparent;
}

/* Logo box */
.login-page .logo-box{
	height: 92px;
}
.logo-box {
    height: 80px;
    position: relative;
    z-index: 999;
}

.logo {
    display: block;
    float: right;
    margin: 13px 0 0;
    text-indent: -9999px;
    outline: medium none;
}

.logo.brand {
    background: url("../images/logo-brand.png") no-repeat scroll 0 0 transparent;
    float: right;
    background-size: 203px;
    width: 203px;
    height: 60px;
}

.logo.product {
    background: url("../images/logo-efast.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin-top: 18px;
    width: 152px;
    height: 48px;
}

/* Top-nav box */
.nav-box {
    background: url(../images/bg-nav.png) no-repeat right center #19a0db;
    padding-top: 3px;
    position: relative;
}

.nav-box #notify {
    float: left;
}

.nav-box #account {
    float: right;
}

.nav-box ul li {
    float: left;
    position: relative;
}

.nav-box ul li.current {
    background: #FFF;
}

.nav-box ul li a {
    background: url("../images/nav-box.png") no-repeat scroll 11px 8px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    line-height: 41px;
    padding: 0 8px 0 41px;
    text-decoration: none;
}

.nav-box ul li.current a {
    color: #0678B3;
}

.nav-box ul li.current a:hover {
    color: #0678B3;
}

.nav-box ul li a:hover, .nav-box ul li.showing a {
    color: #a3e9ff;
}

.nav-box ul li.home a {
    background: url("../images/home-icn-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.home.current a {
    background: url("../images/home-icn-current-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.noti a {
    background: url("../images/noti-icn-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.noti.current a {
    background: url("../images/noti-icn-current-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.mail a {
    background: url("../images/mail-icn-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.mail.current a {
    background: url("../images/mail-icn-current-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.corp a {
    background: url("../images/corp-icn-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.corp.current a {
    background: url("../images/corp-icn-current-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.account a {
    background: url("../images/account-icn-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.account.current a {
    background: url("../images/account-icn-current-small.png") no-repeat scroll 8px 8px;
}

.nav-box ul li.logout a {
    background: url("../images/logout-icn-small.png") no-repeat scroll 8px 8px;
}
/* Left menu box */
.main-navigation li.item-account span {
    background: url("../images/icn-nav-small-account.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-transfer span {
    background: url("../images/icn-nav-small-transfer.png") no-repeat;
    background-size: 25px;
    background-position: 10px 12px;
}

.main-navigation li.item-payment span {
    background: url("../images/icn-nav-small-payment.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-deposit span {
    background: url("../images/icn-nav-small-deposit.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-credit span {
    background: url("../images/icn-nav-small-credit.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-nsnn span {
    background: url("../images/icn-nav-small-nsnn.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-support span {
    background: url("../images/icn-nav-small-support.png") no-repeat;
    background-size: 25px;
    background-position: 12px 12px;
}

.main-navigation li.item-trade span {
    background: url("../images/icn-nav-small-sponsor.png") no-repeat;
    background-size: 25px;
    background-position: 12px 13px;
}

.main-navigation li.item-scf span {
    background: url("../images/icn-nav-small-scf.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-verify span {
    background: url("../images/icn-nav-small-verify.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-report span {
    background: url("../images/icn-nav-small-report.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li:last-child span {
    background: url("../images/icn-nav-small-help.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-help span {
    background: url("../images/icn-nav-small-help.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}
/*Left menu hover*/
.main-navigation li.item-account span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-account.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-transfer span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-transfer.png") no-repeat;
    background-size: 25px;
    background-position: 10px 12px;
}

.main-navigation li.item-payment span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-payment.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-deposit span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-deposit.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-credit span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-credit.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-nsnn span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-nsnn.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-support span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-support.png") no-repeat;
    background-size: 25px;
    background-position: 12px 12px;
}

.main-navigation li.item-trade span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-sponsor.png") no-repeat;
    background-size: 25px;
    background-position: 12px 13px;
}

.main-navigation li.item-scf span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-scf.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-verify span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-verify.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-report span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-report.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li:last-child span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-help.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}

.main-navigation li.item-help span:hover {
    background: #0678B3 url("../images/icn-nav-small-white-help.png") no-repeat;
    background-size: 25px;
    background-position: 12px 7px;
}
/* Popup thông báo */
.nav-box ul#notify li a span {
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 1px;
    left: 25px;
    line-height: normal;
    padding: 0 3px;
    position: absolute;
    top: 0;
    color: #FFF;
    z-index: 2;
}

.nav-box ul#notify li ul:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d8";
    position: absolute;
    top: -15px;
    color: white;
    font-size: 21px;
    left: 6%;
}

.nav-box ul#notify li ul {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #E1E1E1;
    box-shadow: 0 0 5px rgba(219, 219, 219, 0.53);
    padding: 15px 0 0;
    position: absolute;
    width: 230px;
    display: none;
}

.nav-box ul#notify li ul li {
    display: block;
    float: none;
    font-weight: bold;
    padding: 0 10px;
}

.nav-box ul#notify li ul li a {
    background: none repeat scroll 0 center;
    border-bottom: 1px solid #c7c7c7;
    color: #0678B3;
    display: block;
    font-weight: normal;
    line-height: normal;
    margin-left: 15px;
    padding: 10px 0;
}

.nav-box ul#notify li ul li a:hover {
    color: #7dc3ff;
}

.nav-box ul#notify li ul li:last-child a {
    border-bottom: none;
}

/* Main content */
#main {
    display: block;
    padding-top: 10px;
    z-index: 3;
}

.not-logged #main, .not-logged #footer {
    padding: 0;
    margin: 0;
}

/* Main left */
.main-left {
    float: left;
    width: 234px;
    border-top: 3px solid #ec2327;
    /*box-shadow: 0 0 5px rgba(219, 219, 219, 0.53);*/
}

.main-left h2 {
    color: #666;
    font-size: 22px;
    padding-bottom: 10px;
}

/* Navigation left */
.main-navigation {
    color: #0678B3;
    padding: 5px 10px 10px;
    border: 1px solid #e1e1e1;
    border-top: none;
}

.main-navigation > li {
    border-bottom: 1px solid #E4E4E4;
}

.main-navigation > li:last-child {
    border-bottom: none;
}

.main-navigation .last-child {
    border-bottom: none;
}

.main-navigation li span {
    cursor: pointer;
    background-position: 0 0;
    display: block;
    font-size: 1.250em;
    padding: 12px 0px 12px 42px;
}

.main-navigation li span:hover {
    color: white !important;
}

.main-navigation li.current > ul {
    display: block;
}

.main-navigation li.current > a, .main-navigation li.current > span {
    font-weight: bold;
}

.main-navigation li span:hover {
    color: #0678B3;
}

.main-navigation li a {
    color: #0678B3;
    text-decoration: none;
}

.main-navigation li ul {
    display: none;
}

.main-navigation li.active ul {
    display: block;
}

.main-navigation li.active ul li.current a {
    font-weight: bold;
}

.main-navigation li ul li {
    list-style: none;
    border-top: 1px solid #E4E4E4;
}

.main-navigation li ul li a {
    color: #414141;
    display: block;
    font-size: 1.000em;
    padding: 12px 0 12px 37px;
}

.main-navigation li ul li a:hover {
    color: #828282;
}

#sub-nav {
    background: url("../images/nav-open.png") no-repeat scroll 0 center transparent;
    cursor: pointer;
    display: none;
    float: left;
    height: 40px;
    margin: 27px 0 0;
    text-indent: -9999px;
    width: 40px;
    background-size: 24px;
}

.tinynav {
    display: none;
}
/* User info box */
.not-logged .user-box {
    float: left;
    margin: 28px 0 18px;
}

.user-box {
    color: #414141;
    padding: 10px 0 8px;
    text-align: right;
    font-size: 12px;
}

.user-box .username {
    color: #0678B3;
    font-weight: normal;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.user-box .corpname {
    padding-left: 5px;
    color: #c52620;
}

.user-box .userinfo {
    margin-bottom: 5px;
}

.user-button {
    float: left;
}

.user-button li {
    display: block;
    float: left;
    height: 16px;
    width: 22px;
    margin: 0 6px 0 0;
}

.user-button li a {
    cursor: pointer;
    display: block;
    width: 21px;    
    height: 15px;
}

.lang-box, .info-lang {
    margin-top: 0px;
    position: absolute;
    top: 45px;
    left: 208px;
}

.info-lang ul {
    display: block;
    text-indent: -9999px;
    width: 168px;
}

.info-lang li {
    display: block;
    float: left;
    height: 16px;
    width: 22px;
    margin: 0 6px 0 0;
}

.info-lang li a {
    background: none;
    height: 16px;
    width: 22px;
}

.lang-vi {
    background: transparent url("../images/lang-vi-small.png") no-repeat 0 0;
}

.lang-en {
    background: transparent url("../images/lang-en-small.png") no-repeat 0 0;
}

.lang-ja {
    background: transparent url("../images/lang-ja-small.png") no-repeat 0 0;
}

.lang-ko {
    background: transparent url("../images/lang-ko-small.gif") no-repeat 0 0;
}

.lang-zh {
    background: transparent url("../images/lang-zh-small.gif") no-repeat 0 0;
}

.main-right {
    display: block;
    margin-left: 274px;
}
.main-right > * {
    float: left;
    width: 100%;
}


/* Dashboard */
.live-content.column {
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 3%;
    width: 31.333%;
}

.live-content.column-3 {
    margin-right: 0;
}

.live-content.column li {
    background: none repeat scroll 0 0 #0678B3;
    margin-bottom: 2%;
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

.live-content.column-1 li {
    width: 49%;
}

.live-content.column-1 li.tile-1, .live-content.column-1 li.tile-3, .live-content.column-1 li.tile-5, .live-content.column-1 li.tile-7, .live-content.column-1 li.tile-9 {
    margin-right: 2%;
}

.live-content.column li a {
    display: block;
    position: relative;
    height: 110px;
    text-decoration: none;
    overflow: hidden;
}

.live-content.column li a span {
    bottom: 10%;
    color: #FFFFFF;
    display: block;
    float: left;
    left: 13px;
    position: absolute;
    text-decoration: none;
    width: 85%;
}

.live-content.column li a img {
    height: 110px;
    width: 100%;
}

.live-content.column .title-account {
    background: url("../images/icn-nav-small-white-account.png") no-repeat 13px 13px #ff8e01;
}

.live-content.column .title-account-details {
    background: url("../images/icn-nav-small-white-details.png") no-repeat 13px 13px #ff8e01;
}

.live-content.column .title-account-alias {
    background: url("../images/icn-nav-small-white-alias.png") no-repeat 13px 13px #ff8e01;
}

.live-content.column .title-transfer {
    background: url("../images/icn-nav-small-white-inhouse.png") no-repeat 13px 13px #0678B3;
}

.live-content.column .title-cknht {
    background: url("../images/icn-nav-small-white-outbank.png") no-repeat 13px 13px #0678B3;
}

.live-content.column .title-lenhchi {
    background: url("../images/icn-nav-small-white-payment-order.png") no-repeat 13px 13px #0678B3;
}

.live-content.column .title-cttl {
    background: url("../images/icn-nav-small-white-batch-transfer.png") no-repeat 13px 13px #0678B3;
}

.live-content.column .title-ctnt {
    background: url("../images/icn-nav-small-white-international.png") no-repeat 13px 13px #ffcc00;
}

.live-content.column .title-ttl {
    background: url("../images/icn-nav-small-white-payment.png") no-repeat 13px 13px #c52620;
}

.live-content.column .title-th {
    background: url("../images/icn-nav-small-white-th.png") no-repeat scroll 13px 13px #cc3333;
}

.live-content.column .title-ch {
    background: url("../images/icn-nav-small-white-ch.png") no-repeat scroll 13px 13px #cc3333;
}

.live-content.column .title-deposit {
    background: url("../images/icn-nav-small-white-deposit.png") no-repeat scroll 13px 13px #006dca;
}

.live-content.column .title-withdrawal {
    background: url("../images/icn-nav-small-white-withdrawal.png") no-repeat scroll 13px 13px #006dca;
}

.live-content.column .title-tnkv {
    background: url("../images/icn-nav-small-white-loan-payment.png") no-repeat 13px 13px #006dca;
}

.live-content.column .title-ntnd {
    background: url("../images/icn-nav-small-white-domestic-tax.png") no-repeat 13px 13px #7dbb00;
}

.live-content.column .title-nthq {
    background: url("../images/icn-nav-small-white-customs-tax.png") no-repeat 13px 13px #7dbb00;
}

.live-content.column .title-ts {
    background: url("../images/icn-nav-small-white-trace.png") no-repeat 13px 13px #00b580;
}

.live-content.column .title-gycpv {
    background: url("../images/icn-nav-small-white-service-request.png") no-repeat 13px 13px #00aab1;
}

.live-content.column .title-statistics {
    background: url("../images/icn-nav-small-white-report.png") no-repeat 13px 13px #00aab1;
}

.live-content.column .title-search {
    background: url("../images/icn-nav-small-white-search.png") no-repeat 13px 13px #00b580;
}

.live-content.column .title-beneficiaries {
    background: url("../images/icn-nav-small-white-service-beneficiaries.png") no-repeat 13px 13px #006dca;
}

.live-content.column .title-activity-log {
    background: url("../images/icn-nav-small-white-activity-log.png") no-repeat 13px 13px #00aab1;
}

.live-content.column .title-faq {
    background: url("../images/icn-nav-small-white-faq.png") no-repeat 13px 13px #00b580;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}

.live-content.column li:hover .tools {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.tools {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    overflow: hidden;
}

.tools a.config {
    background: url(../images/edit-able.png) no-repeat 5px 5px;
    width: 40px !important;
    height: 40px !important;
}

/* Pages */
h1.page-title {
    border-bottom: 3px solid #EC2327;
    font-size: 2.500em;
    font-family: "Tahoma", sans-serif;
    padding-bottom: 10px;
    font-weight: normal;
    margin-top: -5px;
}

h2.page-title {
    margin-top: 50px;
    font-size: 20px;
}

.page-content {
    padding: 10px;
    border: 1px solid #E1E1E1;
    /*box-shadow: 0 0 5px rgba(219, 219, 219, 0.53);*/
}

.page-content-borderless {
    padding: 0px 0px;
    border-top: none;
}

.page-content.filter {
    background: #F7F7F7;
}

.page-content.filter .action-box {
    padding: 0;
}

.page-content.blank-bg {
    background: #ffffff;
}

.page-step {
    border-bottom: 1px solid #AEAEAE;
    margin-bottom: 30px;
}

.page-step li {
    font-family: "Tahoma", sans-serif;
    color: #8E8E8E;
    float: left;
    font-size: 18px;
    padding: 0 0 10px;
    width: 33.3333%;
    cursor: default;
}

.p-4-step li {
    width: 25%;
}

.page-step li.current {
    color: #0678B3;
    border-bottom: 4px solid #0678B3;
}

/*Messages notify status of transaction*/
.action-message {
    border: 1px solid;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 16px 15px 16px 10%;
}

.action-message h2 {
    font-size: 2.500em;
    font-weight: normal;
    display: none;
}

.action-message, .action-message p {
    font-size: 14px;
    line-height: 22px;
}

.action-message.confirm  {
    background: #9cd2ff url("../images/icn-shield.png") no-repeat center left;
    background-size: 45px;
    background-position: 3% 50%;
    color: #00437a;
    border-color: rgba(16, 100, 168, 0.28);
}

.action-message.info, .action-message.success {
    background: #DFF2BF url("../images/icn-success.png") no-repeat center left;
    background-size: 45px;
    background-position: 3% 50%;
    color: #4F8A10;
    border-color: rgba(79, 138, 16, 0.34);
}

.action-message.explain {
    background: #BDE5F8 url("../images/icn-explain.png") no-repeat center left;
    background-size: 45px;
    background-position: 3% 50%;
    color: #00529B;
    border-color: rgba(16, 100, 168, 0.28);
}

.action-message.warning {
    background: #FEEFB3 url("../images/icn-warning.png") no-repeat center left;
    background-size: 45px;
    background-position: 3% 50%;
    color: #9F6000;
    border-color: rgba(159, 96, 0, 0.37);
}

.action-message.failure {
    background: #FFBABA url("../images/icn-failure.png") no-repeat center left;
    background-size: 45px;
    background-position: 3% 50%;
    color: #D8000C;
    border-color: rgba(216, 0, 12, 0.29);
}

/* Close */
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/* Alert */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #356635;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #2d6987;
}

.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.alert-warning hr {
    border-top-color: #f8e5be;
}

.alert-warning .alert-link {
    color: #a47e3c;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger hr {
    border-top-color: #e6c1c7;
}

.alert-danger .alert-link {
    color: #953b39;
}

.action-box {
    background: none repeat scroll 0 0 #F7F7F7;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 20px;
}

.no-bg {
    background: none !important;
}

.no-padding {
    padding: 0 !important;
}

.form-note {
    font-size: 14px;
    font-family: "Tahoma", sans-serif;
    display: block;
    text-align: center;
    float: none;
    clear: both;
    padding-top: 20px;
}

.lshddt {
    font-size: 16px;
}

.lshddt-small {
    font-size: 14px;
    font-family: "Tahoma", sans-serif;
}

.blank-bg .action-box {
    background: none;
}

.action-notice {
    font-style: italic;
    color: #878787;
    text-align: center;
}

.blue label {
    color: #214b85;
}

.action-term {
    border: 1px solid #DFDFDF;
    height: 132px;
    overflow-y: scroll;
    padding: 10px 16px 10px 16px;
    text-align: justify;
}

.acc-info .action-box .form-group {
    margin-bottom: 0px;
    padding: 10px;
}

.page-content.acc-info {
    padding: 0px 10px 7px 10px;
}

.page-content.acc-info .form-group {
    padding: 0 5px 0 0;
}


.page-content.acc-info .form-group > .col-md-6 > .col-md-6 {
    display: block;
    float: left;
    padding-right: 0;
    padding-left: 0;
    width: 48%;
}

.page-content.acc-info .form-group > .col-md-6 > .col-md-6.control-label {
    margin-right: 4%;
}

/* Account detail in account page*/
.account-detail ul {
    float: left;
    width: 50%;
}

.account-detail li {
    overflow: hidden;
    padding: 8px 0;
}

.account-detail li:nth-child(2n) {
    background: #F7F7F7;
}

.account-detail label {
    display: block;
    float: left;
    text-align: right;
    width: 47%;
}

.account-detail span {
    color: #214B85;
    display: block;
    float: right;
    width: 47%;
    text-align: left;
}

.dstk-filter {
    margin-top: 10px;
    /*border-top: 1px solid #fff;*/
    padding-top: 0;
}

.dstk-filter .col-md-3, .dstk-filter .col-md-4 {
    padding-right: 0;
}

.dstk-filter .btn {
    padding: 9px 21px;
}

/* Table */
table tbody tr {
    border-top: 2px solid #fff;
}

table tbody tr:first-child {
    border-top: 0 !important;
}

table tbody tr.even, table tbody tr:nth-child(2n) {
    background: #eeeeee !important;
}

table tbody tr.odd, table tbody tr:nth-child(2n+1) {
    background: #f8f8f8 !important;
}

table tbody tr * {
    _background: none !important;
}

.w4 {width: 4%; } .w5 {width: 5%; } .w6 {width: 6%; } .w7 {width: 7%; } .w8 {width: 8%; } .w9 {width: 9%; } .w10 {width: 10%; } .w11 {width: 11%; } .w12 {width: 12%; } .w13 {width: 13%; } .w14 {width: 14%; } .w15 {width: 15%; } .w16 {width: 16%; } .w17 {width: 17%; } .w18 {width: 18%; } .w19 {width: 19%; } .w20 {width: 20%; } .w21 {width: 21%; } .w22 {width: 22%; } .w23 {width: 23%; } .w25 {width: 25%; } .w26 {width: 26%; } .w27 {width: 27%; } .w28 {width: 28%; } .w29 {width: 29%; } .w30 {width: 30%; }

.break-word {
    word-wrap: break-word;
    /*text-align: justify;*/
    /* word-break: break-all; */;
}

.page-table > h2 {
    font-size: 17px;
    font-weight: normal;
    margin: 15px 0 5px 0;
}

.page-table.account-detail > h2 {
    border-bottom: 3px solid #EC2327;
    margin-bottom: 0;
    padding-bottom: 6px;
}

.page-table > h2.toggle {
    background: url("../images/toggle-hide.jpg") no-repeat left center;
    padding-left: 20px;
    cursor: pointer;
}

.table-wrap {
    display: block;
}

.page-table > h2.accordion-toggle {
    margin: 5px 15px 0;
}

.page-table > h2.accordion-toggle.collapsed {
    background: url("../images/toggle-show.jpg") no-repeat left center;
    padding-left: 20px;
    cursor: pointer;
}

.page-table > h2.accordion-toggle {
    background: url("../images/toggle-hide.jpg") no-repeat left center;
    padding-left: 20px;
    cursor: pointer;
}

.page-table > h2.toggle.hiding {
    background-image: url("../images/toggle-show.jpg");
}

.pagebanner {
	float: left;
}

.page-table table {
    width: 100%;
}

.page-table table span.title {
    display: none;
}

.page-table table p {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.page-table thead th {
    padding: 18px 1%;
}

.page-table tbody tr {
    border-bottom: 2px solid #FFF;
}

.page-table tbody td {
    padding: 12px 1%;
}

.page-table th {
    background: #0678B3;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    vertical-align: middle !important;
}

.page-table td {
    vertical-align: top;
}

.page-table th.right, .page-table td.right {
    text-align: right;
}

.page-table th.center, .page-table td.center {
    text-align: center;
}

.page-table td.justify {
    text-align: justify;
}

.page-table th.red, .page-table td.red {
    color: #c70000;
}

.table-action {
    text-align: center;
    margin-bottom: 0;
    float: right;
}

.table-action a {
    display: inline-block;
    height: 19px;
    width: 19px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
}

.table-action a.print {
    background-image: url("../images/action-print-small.png");
}

.table-action a.sent {
    background-image: url("../images/email-sent-small.png");
}

.table-action a.reci {
    background-image: url("../images/email-rec-small.png");
}

.table-action a.att-file {
    background-image: url("../images/att-file-small.png");
}

.table-action a.exp-file {
    background-image: url("../images/exp-file-small.png");
}

/*Table class table-list */
.list-trans {
    margin-top: 40px;
}

table.table-list td {
    vertical-align: middle;
}

span.date {
    font-style: italic;
}

.delete-apply {
    padding-left: 40px;
    margin-top: 20px;
    background: url("../images/delete-enter.png") no-repeat 10px;
}

.delete-apply button {
    border: 0;
    width: 96px;
    height: 33px;
    background-color: #006dcb;
    color: #fff;
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

h2.title-minable {
    color: #434343;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    background: url("../images/toggle-hide.jpg") no-repeat left center;
    padding-left: 20px;
    cursor: pointer;
    cursor: pointer;
}

h2.title-minable.hiding {
    background-image: url("../images/toggle-show.jpg");
}

h2.title-minable.chtg {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

table tr.unread {
    font-weight: bold;
}

.page-content.filter.full-w {
    background: #fff;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

ul.page-break {
    margin-top: 25px;
}

ul.page-break li.unclick {
    background: #f2f2f2;
}

ul.page-break li a {
    color: #3C3C3C;
}

ul.page-break li.current {
    background: #0678B3;
}

ul.page-break li.current a {
    color: white;
}

ul.page-break li {
    height: 36px;
    border: 1px solid #e5e5e5;
}

.blue {
    color: #214b85;
}

.list-cb {
    margin: 5px 0;
}

.list-cb li {
    margin: 5px 0;
}

ul.page-break li a {
    display: block;
    padding: 10px;
}

ul.top-action {
    display: block;
}

ul.top-action a {
    font-weight: bold;
    line-height: 17px;
}

ul.top-action .col-md-6 {
    padding-left: 3%;
    padding-right: 3%;
}

ul.top-action .col-md-6.right {
    text-align: right;
}

ul.top-action .col-md-6.left {
    text-align: left;
}

.clb90600 {
    color: #b90600;
}

table.select-file {
    text-align: center;
}

table.select-file tr th {
    font-weight: normal;
}

table.select-file tr td {
    padding: 2px 5px;
}

table.select-file tbody tr td:first-child {
    text-align: left !important;
}

/* Footer */
#footer {
    background: url("../images/blue.jpg") repeat-x scroll 0 0 #F2F2F2;
    margin-top: 25px;
    color: #414141;
    font-size: 12px;
}

#footer a {
    color: #414141;
    text-decoration: none;
}

#footer a:hover {
    color: #828282;
}

#footer #top {
    border-bottom: 1px solid #BCBCBC;
    padding-bottom: 10px;
}

#footer #bottom {
    border-top: 1px solid #FFF;
}

#footer .column {
    float: left;
    width: 18%;
}

#footer .column h3 {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 41px;
}

#footer .column ul {
    padding-top: 5px;
}

#footer .column ul li {
    margin: 1px 0;
}

#footer .column ul a {
    display: inline-block;
    padding: 3px 0;
}

#footer .column#connect {
    padding-top: 55px;
    width: auto;
    float: right;
}

#footer #connect p.hotline {
    background: url("../images/connect.jpg") no-repeat scroll 0 0;
    color: #3495da;
    display: block;
    font-size: 2.500em;
    line-height: 30px;
    text-indent: 35px;
    margin-bottom: 15px;
}

#footer .column .social li {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#footer .column .social a {
    background: url("../images/connect.jpg") no-repeat scroll 0 0;
    display: block;
    height: 30px;
    padding: 0;
    text-indent: -9999px;
    width: 30px;
}

#footer .column .social .facebook a {
    background-position: 0 -30px;
}

#footer .column .social .googleplus a {
    background-position: 0 -60px;
}

#footer .column .social .linkedin a {
    background-position: 0 -90px;
}

#footer .terms {
    float: left;
    font-size: 11px;
    min-width: 404px;
}

#footer .terms li {
    float: left;
    padding: 10px 30px 10px 0;
}

#footer .terms li:last-child {
    padding-right: 0;
}

#footer .copyright {
    float: right;
    padding: 10px 0;
    margin: 0;
}

/* Login form */
#login-form {
    color: #333333;
    display: block;
    float: left;
    font-size: 14px;
    margin: 30px 0;
    overflow: hidden;
    width: 33%;
}

#login-promote {
    width: 66%;
    float: right;
}

#login-promote img {
    display: block;
    width: 100%;
}

#login-form > p {
    display: block;
    width: 100%;
}

#login-form > p input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
    border: 1px solid #DBDBDB;
    border-radius: 1px 1px 1px 1px;
    color: #555555;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 0;
    padding: 7px 2%;
    width: 95%;
}

#login-form > p label {
    display: block;
    margin: 20px 0 5px;
}

#login-form .captcha-image {
    border-radius: 4px;
    display: block;
    float: left;
    height: 50px;
    margin-top: 15px;
    width: 75%;
}

#login-form .captcha-reload {
    /* background: url("../images/reload.png") no-repeat scroll center center transparent; */
    display: block;
    float: right;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    text-indent: -99999px;
    width: 25%;
}

#login-form > p input#btnLogin {
    background: url("../images/button.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    height: 43px;
    margin-top: 31px;
    padding-bottom: 8px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    transition: all 0.3s ease 0s;
    width: 146px;
}

#login-form > p input#btnLogin:hover {
    text-shadow: -1px -1px 0px #000;
}

.login-alert {
    /* background: url("../images/caution.png") no-repeat scroll left top transparent; */
    color: #454545;
    display: block;
    font-size: 18px;
    padding-left: 60px;
    margin-bottom: 40px;
}

.login-alert span {
    font-weight: normal;
    font-size: 12px;
    display: block;
    margin-top: 14px;
    margin-left: -60px;
}

.login-link {
    margin-top: 20px;
}

.login-link li {
    margin: 10px 0;
}

.login-link a {
    color: #555555;
    font-size: 12px;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Tab */
ul.multitab {
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

ul.multitab li {
    float: left;
    display: inline-block;
    width: 31%;
    background: #f7f7f7;
    padding: 0 1.5%;
    margin-top: 12px;
    font-size: 15px;
    border-right: 2px solid white;
}

ul.multitab li:hover {
    background: #D8D8D8;
}

ul.multitab.tab5 li {
    width: 20%;
    padding: 0 1.5%;
}

ul.multitab li a {
    color: #666;
    display: block;
	width: 100%;
	padding: 12px 0px;
	cursor: pointer;  
}

ul.multitab li.current {
    font-weight: bold;
    margin-bottom: -1px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    margin-top: 12px;
    border-bottom: 1px #fff;
}

ul.multitab li.current a {
    color: #ec2327;
    cursor: default;
}

/*.page-content.border-top {
    border-top: 3px solid #EC2327;;
}*/

/* FORM STYLE */

/********************************/

/*contact*/
.form-group[class*="col-"] {
    padding-left: 0;
}
/***
Apply fix for font awesome icons.
***/
[class^="icon-"], [class*=" icon-"], [class^="icon-"]:hover, [class*=" icon-"]:hover {
    background: none !important;
}
/***
Make font awesome icons fixed width(latest version issue)
***/
li[class^="icon-"], li[class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

li[class^="icon-"].icon-large, li[class*=" icon-"].icon-large {
    /* increased font size for icon-large */
    width: 1.5625em;
}

/***Input icons***/
.input-icon {
    position: relative;
}

.input-icon i {
    color: #c90000;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    top: 10px;
    right: 8px;
    z-index: 2;
}

.input-icon input {
    padding-right: 33px;
}

.input-currency {
    position: relative;
}

.input-currency input {
    padding-right: 37px;
}

.input-currency b {
    color: #888888;
    position: absolute;
    top: 7px;
    right: 23px;
}

.input-percent input {
    padding-left: 30px;
}

.input-percent span {
    color: #888888;
    position: absolute;
    top: 7px;
    left: 23px;
}

.input-percent b {
    color: #888888;
    position: absolute;
    top: 7px;
    right: 23px;
}

.input-day b {
    color: #888888;
    position: absolute;
    top: 7px;
    right: 23px;
}

.twitter-typeahead {
    display: block !important;
    width: 100%;
}

.tt-query {
    background: #FFF !important;
}

.tt-dropdown-menu {
    width: 100%;
}

.tt-suggestions {
    box-shadow: 0 3px 6px -3px #D3D3D3;
}

.tt-suggestion {
    background: none repeat scroll 0 0 #FFF;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 6px;
}

.tt-suggestion:hover {
    background: none repeat scroll 0 0 #EEE;
}

.tt-suggestion > p {
    color: #214B85;
    font-size: 12px !important;
    margin-bottom: 0;
}

.has-success .input-icon > i {
    color: #468847;
}

.has-warning .input-icon > i {
    color: #c09853;
}

.has-error .input-icon > i {
    color: #b94a48;
}

/* Radios */
.radio-list {
    display: block;
    font-size: 14px;
}

.radio-list.radio-inline {
    display: inline-block;
}

.radio-list.radio-inline:first-child {
    padding-left: 0;
}

.form-horizontal .radio-list .radio {
    position: relative;
    padding-top: 0;
}

.filter-block {
    border: 1px solid #e1e1e1;
    border-top: 3px solid #EC2327;
    /*-moz-box-shadow: 0 0 5px rgba(219, 219, 219, .42);
    -webkit-box-shadow: 0 0 5px rgba(219, 219, 219, .42);
    box-shadow: 0 0 5px rgba(219, 219, 219, .42);*/
    background: #f4f4f4;
    padding: 10px 0;
}

.dstk-filter table thead th {
    background: #f8f8f8 !important;
    color: #444;
    padding: 12px 2%;
}

.dstk-filter table tbody {
    border-top: 1px solid #dadada;
}

.dstk-filter table tbody tr {
    border: none;
}

.dstk-filter table tbody td {
    background: #f8f8f8 !important;
    padding: 10px 2%;
}

.lnk-bordered {
    border: 1px solid #dfdfdf;
    background: white;
    display: block;
    line-height: 20px;
    padding: 0 5px;
}

/* Login Page */
.login-page #main {
    width: 94%;
}

.login-page p.login-title {
    font-size: 27px;
    color: #005993;
    font-weight: normal;
    margin: 20px 0;
}

.login-page .col-md-12 {
    padding: 0;
}

.login-page .col-md-12 ul {
    margin-top: 10px;
}

.login-page .col-md-12 ul li {
    margin-bottom: 15px;
}

.login-page .form-group {
    margin-bottom: 25px;
}

.login-page .form-control {
    font-size: 16px;
    height: auto;
    padding-bottom: 9px;
    padding-top: 9px;
}

.login-page .btn {
    font-size: 18px;
    font-weight: normal;
}

.flex-container a:active,
.login-slider a:active,
.flex-container a:focus,
.login-slider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.login-slider {
    position: relative;
}

.login-slider .slides img {
    display: block;
    width: 100%;
    height: auto;
}


/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav a  {    
    background-image: url("../images/arrow-slider.png");
    display: block;
    height: 27px;
    margin-top: -16px;
    opacity: 0;
    outline: medium none #000080;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 27px;
    z-index: 2;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.login-slider:hover .flex-direction-nav a {
    opacity: 1;
}

.login-slider .flex-direction-nav a.flex-prev {
    left: 0px;
    background-position: left center;
}

.login-slider:hover .flex-direction-nav a.flex-prev {
    left: 15px;
}

.login-slider .flex-direction-nav a.flex-next {
    right: 0px;
    background-position: right center;
}

.login-slider:hover .flex-direction-nav a.flex-next {
    right: 15px;
}

.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -15px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #333; background: rgba(0,0,0,0.7); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.control-label {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
}

.pw-reset label.control-label {
    text-align: left;
}

p.pw-reset-title {
    font-size: 2.500em;
    display: block;
    padding: 20px 0;
}

p.info-change-title {
    font-size: 16px;
    display: block;
    font-weight: bold;
    line-height: 30px;
    padding: 20px 0;
}

.info-corp {
    padding: 0 !important;
    margin-bottom: 30px;
}

.info-corp .form-group {
    margin: 0 !important;
    border-bottom: 1px solid #f0f0f0;
    padding: 0;
}

.info-corp label {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 0 !important;
    font-size: 14px;
    min-height: 35px;
}

.info-corp p.form-control-static {
    font-size: 14px !important;
}

h1.no-border {
    border: 0 !important;
    margin-top: 0px;
}

p.add-mn {
    color: #0678B3;
    margin-bottom: 0;
}

p.rev-mn {
    color: #c70000;
    margin-bottom: 0;
}

.acc-detail h2 {
    margin-top: 20px;
}

.acc-info .action-box {
    margin-bottom: 0;
    padding: 0;
    background: none;
}

.acc-info {
    border: 1px solid #e1e1e1;
    /*border-top: 2px solid #0678B3 !important;*/
    /*-moz-box-shadow: 0 0 5px rgba(219, 219, 219, .42);
    -webkit-box-shadow: 0 0 5px rgba(219, 219, 219, .42);
    box-shadow: 0 0 5px rgba(219, 219, 219, .42);*/
}

/*.acc-info label.control-label {
    text-align: left;
}

.acc-info p.form-control-static {
    text-align: right;
}*/

.acc-info .action-box .form-group:nth-child(2n) {
    background: #f6f6f6;
}

.icon-calendar {
    color: #0678B3 !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 20px !important;
}

.ac-btn {
    float: right;
    width: 210px;
    text-align: right;
}

.ac-selectbox {
    float: right;
    width: 182px;
}

.list-trans-ctk {
    padding-top: 0;
}

div.table-wrap::-webkit-scrollbar, div.table-wrap-body::-webkit-scrollbar {
    width:10px;
    height:10px;
}

div.table-wrap::-webkit-scrollbar-button:start:decrement,
div.table-wrap::-webkit-scrollbar-button:end:increment,
div.table-wrap-body::-webkit-scrollbar-button:start:decrement,
div.table-wrap-body::-webkit-scrollbar-button:end:increment {
    /*width: 10px;
    display: block;
    background-color: #69BCE7;*/
}
div.table-wrap::-webkit-scrollbar-track, div.table-wrap-body::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 10px;
}

div.table-wrap::-webkit-scrollbar-thumb, div.table-wrap-body::-webkit-scrollbar-thumb {
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}

div.table-wrap::-webkit-scrollbar-thumb:hover, div.table-wrap-body::-webkit-scrollbar-thumb:hover {
    background-color: #888888 !important;
}

/* Email */
.email-action {
    float: right;
    margin-top: 12px;
}

.icon-compose {
    width: 30px;
    height: 20px;
    display: block;
    float: left;
    background: url("../images/icon-compose.png") no-repeat bottom center !important;
}

.icon-compose:hover {
    background: url("../images/icon-compose.png") no-repeat bottom center !important;
}

.form-group.email-subject {
    position: relative;
}

.form-group.email-subject:after {
    height: 10px;
    display: block;
    border-bottom: 1px solid #aeaeae;
    margin: 0 15px;
}

.form-group.email-subject label {
    color: #0678B3;
    font-size: 18px;
}

.form-group.email-subject input {
    display: inline-block;
}

.form-group.email-subject .table-action {
    display: block;
    position: absolute;
    padding-top: 10px;
    margin: 0;
    top: -3px;
    right: 15px;
}

.form-group.email-subject .table-action a {
    background-position: bottom;
}

.email-compose .form-horizontal .control-label {
    text-align: left;
}

.email-detail {
    position: relative;
}

h4.email-title {
    font-size: 18px;
    color: #0678B3;
    border-bottom: 1px solid #aeaeae;
    display: block;
    padding-bottom: 10px;
    padding-right: 100px;
}

.email-properties {
    margin-top: 20px;
    font-size: 14px;
}

.ajC {
    width: 100%;
}

.ajv {
    vertical-align: middle;
    text-align: left;
}

.gG {
    width: 18%;
    padding: 7px 15px 7px 11px;
    color: #444;
    text-align: right !important;
}

.gL {
    white-space: normal;
}

.gI {
    cursor: auto;
}

.gD {
    display: inline;
    color: #0678B3;
}

.email-content {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px #eeeeee solid;
    padding: 10px 20px;
    text-align: justify;
    line-height: 21px;
}

ul.email-action {
    position: absolute;
    top: 0;
    right: 15px;
}

ul.email-action li {
    float: left;
    display: block;
    margin: 0 5px;
}

ul.email-action li a.print-email {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../images/action-print-small.png");
}

ul.email-action li a.down-attfile {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../images/att-file-small.png");
}

ul.email-action li a.sent {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../images/email-sent-small.png");
}

ul.email-action li a.reci {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../images/email-rec-small.png");    
}

.thong-bao-child .page-content-borderless {
    padding-top: 0;
}

.thong-bao-child .list-trans {
    margin-top: 30px;
}

/* Back to top */   
a.back-to-top {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    display: none;
}

a.back-to-top:hover {
    opacity: 0.7;
    filter: alpha(opacity=40);
}

a.back-to-top img {
    display: block;
}

/* F.A.Q - Cau hoi thuong gap */
.dschtg {
    float: none;
    margin-bottom: 0px;
}

h2.title-minable.table-title.toggle.chtg {
    display: block;
}

.list_faq_item {
    margin-bottom: 5px;
    border: 1px solid  #f7f7f7;
    font-size: 12px;
    text-align: justify;
}

#cauhoi {
    padding: 6px 1%;
    cursor: pointer;
    background-color: #f7f7f7;
}

#cauhoi h4 {
    font-weight: normal;
    font-size: 13px;
}

#traloi {
    display: none;
    padding: 1% 1%;
}

.chtg-block .page-content.border-top {
    display: block;
    margin-bottom: 20px;
}

.chtg-block h1.no-border {
    margin-top: -5px;
}

.chtg-block #traloi ul li {
    list-style: disc inside;
    margin-left: 10px;
}

.list-question li {
    margin-bottom: 4px;
}


.answer {
    padding: 20px;
}

.q-number {
    color: #0678B3;
    font-weight: normal;
}

.q-content {
    color: #0678B3;
    font-weight: normal;
}

.ans-content, .panel-body {
    font-size: 12px;
    color: #434343;
}

.login-page .panel-body {
    padding: 20px 0;
}

.login-page .col-md-4 {
    padding: 0;
}

.login-page .col-md-8 {
    padding-right: 0px;
    padding-left: 25px;
    *padding-left: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.iban {
    margin-bottom: 9px;
}

 

/*=====Accordion========*/
.accordion-area {
    padding: 5px 10px;
    background: #fff;
    margin: 0 15px;
}

.accordion-area h2, .accordion-area p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    font-weight: normal;
}

.accordion-area h2 span {
    color: #323232 !important;
}

.accordion-header {
    background: #ebebeb;
    padding: 5px 16px;
    cursor: pointer;
}

.sub-accordion-header {
    background: #ebebeb;
    padding: 5px 16px;
    cursor: pointer;
    color: #214b85 !important;
}

.active-header {
    background: url("../images/active-header.gif");
    background-repeat: no-repeat;
    background-position: 0 14px;
}

.inactive-header {
    background: url("../images/inactive-header.gif");
    background-repeat: no-repeat;
    background-position: 0 10px;
}

.accordion-content {
    display: none;
    padding: 0 16px;
}

.accordion-content .table-wrap {
    background: #fff;
}

.login-page label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

/* More button */
.more_button {
    background: url("../images/more-button.png") no-repeat scroll center bottom;
    clear: both;
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 15px;
    margin-top: 0;
    padding: 2px 0 2px 30px;
}

.less_button {
    background-image: url("../images/less-button.png");
}

.pwreset-page .col-md-7, .pwreset-page .col-md-4, .pwreset-page .panel-body, .pwreset-page .col-md-12 {
    padding: 0;
}

/* Tooltip */
i.question {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    position: relative;
    color: #0678B3 !important;
}

span.question:hover {
    background-color: #0678B3;
}

div.tooltip {
    background-color: #0678B3;
    color: #fff;
    position: absolute;
    left: 18px;
    top: -24px;
    z-index: 10000;
    width: 260px;
    border-radius: 3px;
    font-size: 12px;
    text-align: justify;
    font-weight: normal;
}

div.tooltip:before {
    border-color: transparent #0678B3 transparent transparent;
    border-right: 6px solid #0678B3;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: -6px;
}

div.tooltip p {
    margin: 10px;
    color: White;
}

#overlay_menu {
    margin-left: 243px;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-tap-highlight-color: transparent;
    z-index: 999;
    display: none;
}

.ctk_action table tbody tr:last-child {
    border-bottom: 20px solid #fff !important;
}
.icon-edit {
    padding-top: 4px;
}

.verify_notice {
    background: #f8f8f8;    
    border: 1px solid #f8f8f8;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    font-size: 13px;
    line-height: 20px;
}

.verify_notice p {
    font-size: 13px;
}

.verify_notice li {
    list-style: circle inside;
    padding: 0px 0px 0px 10px;
}


/* ------------------------------------------------------- MOBILE -------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
    .nav-box, .logo-box.container.clearfix {
        left: 0 !important;
    }
}

@media screen and (max-width: 1279px) {
    .dstk-filter .btn {
        width: 90%;
        padding: 9px 0;
    }
}
/* Tablet landscape */
@media screen and (max-width: 1000px) {
    .email-action .btn {
        width: 100%;
    }

    .email-properties .email-action {
        /*width: auto;*/
        margin-top: 12px;
    }

    body {
        overflow: auto;
    }

    .login-title {
        font-size: 20px;
    }

    .login-page #sub-nav {
        display: none;
    }

    .login-page .info-lang {
        margin-top: 5px;
        position: absolute;
        top: 40px;
        left: 3%;
    }
    .login-page .user-button li {
        margin-right: 6px;
    }

    .logo-box {
	    height: 90px;
	}

    .logo.product {
        background: none repeat scroll 0 0;
        clear: both;
        color: #9B9A98;
        float: right;
        font-size: 14px;
        height: auto;
        margin-top: -8px;
        padding-right: 38px;
        text-decoration: none;
        text-indent: 0;
        width: auto;
    }

    #sub-nav {
        display: block;
    }

    #outer_main, #header {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    #header {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .summary-inside {
        position: relative;
        width: 100%;
    }

    #header .logo-box {
        background: url("../images/line.png") repeat-x scroll right 91px #fff;
    }
    
    .login-page .logo-box{
    	height: 96px;
    }

    .logo-box {
        width: 100%;
        padding: 0 3%;
    }

    .lang-box {
        position: absolute;
        left: -243px;
        width: 243px;
        z-index: -11;
        padding: 14px 10px 5px 11px;
        top: 90px;
        background: #DBDBDB;
        height: 44px;
    }
    .user-button li {
        margin-right: 15px;
    }

    .user-box.container {
        border-right: 1px solid #DBDBDB;
        background-color: #eee;
        display: block;
        position: absolute;
        top: 0;
        height: 103px;
        left: -243px;
        width: 243px;
        z-index: -11;
        text-align: left;
        padding: 20px 10px 0px 10px;
    }

    .user-box p {
        margin-bottom: 3px;
    }

    .user-box p:nth-child(2) {
        font-style: italic;
    }

    .user-box strong {
        color: #0678B3;
        font-weight: bold;
    }

    .user-box {
        color: #414141;
        padding: 10px 0 8px;
        text-align: right;
        font-size: 12px;
    }

    .user-box .username {
        color: #0678B3;
        font-weight: normal;
        font-size: 15px;
        border-right: 0px solid #ccc;
        display: block;
        padding-right: 5px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .user-box .corpname {
        padding-left: 0px;
        color: #c52620;
        font-size: 11px;
    }

    .user-box .lastlogin {
        font-size: 11px;
    }

    .user-box .userinfo {
        margin-bottom: 0;
    }
    .nav-box ul#notify li ul:before {
        top: -13px;
    }

    .nav-box ul#notify li ul {
        border-top:none;
    }

    .nav-box ul li.logout a {
   		text-indent: 38px;
		margin-right: 40px;
	}	

    #main {
        padding-top: 0px;
        width: 100%;
    }

    .main-left * {
        background: transparent;
        position: relative;
        padding: 0;
        z-index: 2;
    }

    .main-right {
        /*height: 100%;*/
        left: 0;
        overflow: hidden;
        position: relative;
        z-index: 5;
        background: #fff;
        padding: 10px 3% 0 3%;
        margin-left: 0;
    }

    .js #main {
        color: rgb(51, 51, 51);
        display: block;
        left: 0px;
        position: relative;
        width: 100%;
    }

    .js .login-page #main {
        width: 94%;
    }

    .js .main-left {
        border-right: 1px solid #DBDBDB;
        background-color: #eee;
        color: rgb(255, 255, 255);
        display: block;
        left: -243px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 243px;
        z-index: 200;
        height: 100%;
        border-top: 0px solid #000;
    }

    h1.page-title {
        margin-top: 10px;
    }

    .page-content {
        padding: 20px 0;
        border: none;
        box-shadow: none;
        padding-top: 0px;
    }

    .action-box .form-group .form-actions {
        padding: 0 !important;
    }

    .action-message {
        padding-left:12%;
    }

    .action-title {
        margin-bottom: 5px;
        font-size: 14px;
    }

    p.form-control-static {
        margin: 0;
        padding: 0;
    }

    .form-actions:before, .form-actions:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .form-actions:after {
        clear: both;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .page-table > h2.toggle {
        background: url("../images/toggle-hide.jpg") no-repeat scroll 7px;
        padding-left: 25px;
        cursor: pointer;
        margin-top: 20px;
    }

    .page-table > h2.accordion-toggle {
        margin: 0px;
    }

    .table-action {
        text-align: center;
        margin-bottom: 0;
        float: left;
    }

    .table-action a.exp-file {
        margin-right: 7px;
    }

    .chtg-block .page-content {
        padding-bottom: 0;
    }

    .chtg-block h1.no-border {
        margin-top: 10px;
        padding-bottom: 0;
    }

    .acc-info {
        border: none;
        border-top: 2px solid #0678B3 !important;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .page-content.acc-info .action-box .form-group {
        padding: 0 10px;
    }

    .acc-info label.control-label {
        text-align: right;
    }

    .acc-info p.form-control-static {
        text-align: left;
    }   

    .page-content.acc-info {
        padding: 0;
    }

    .page-content.acc-info .action-box {
        margin-bottom: 0;
        padding: 0;
        background: none;
    }

    .page-content.acc-info .form-group > .col-md-6 > .col-md-6 {
        width: 58%;
    }

    .page-content.acc-info .form-group > .col-md-6 > .col-md-6.control-label {
        width: 38%;
        clear: both;
    }

    .page-content.acc-info.acc-info p.form-control-static {
        margin: 9px 0;
    }

    .more_button {
        height: 25px;
        margin-bottom: 18px;
    }

    .page-step {
        padding: 10px;
        margin-bottom: 0px;
        border-bottom: 0px solid #e0e0e0;
    }

    .page-step li.current {
        border-bottom: 1px solid #E0E0E0;
        background: url("../images/arrow-dwn-step.png") no-repeat 100% 0px;
        -webkit-background-size: 20px;
        background-size: 20px;
        display: block;
    }

    .page-step li {
        display: none;
        float: none;
        width: 100%;
        font-size: 1.250em;
        margin-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
        background: url("../images/arrow-dwn-step.png") no-repeat 100% 0px;
        -webkit-background-size: 20px;
        background-size: 20px;
    }

    .rps-table-key {
        text-align: left;
    }

    .rps-table-val {
        text-align: left;
    }

    .col-rps-5 {
        padding: 0 10px;
        width: 41.66666%;
        float: left;
        margin-bottom: 5px;
    }

    .col-rps-6 {
        padding: 0 10px;
        width: 50%;
        float: left;
        margin-bottom: 5px;
    }

    .col-rps-7 {
        padding: 0 10px;
        width: 58.33333%;
        float: left;
        margin-bottom: 5px;
    }

    #outer_main.menu_open .main-right {
        min-height: 581px;
    }

    #nav {
        display: none;
    }

    .main-navigation {
        border: none;
    }

    .nav-box ul li a {
        padding: 0;
        text-indent: -9999px;
        width: 41px;
    }

    .nav-box ul#notify li ul {
        box-shadow: none;
    }

    .nav-box ul li a span {
        text-indent: 0;
    }

    .nav-box ul#notify li ul li a {
        width: auto;
        text-indent: 0;
    }

    .live-content {
        padding-left: 0%;
        width: 100%;
    }

    .live-content.column {
        width: 48%;
        margin-right: 4%;
    }

    .live-content.column-2 {
        margin-right: 0;
    }

    .live-content.column-3 {
        display: none;
        padding-right: 0;
        width: 100%;
        margin-top: 0;
    }

    .live-content.column-3 li {
        width: 48%;
        margin-bottom: 2%;
    }

    .live-content.column-3 li.tile-1, .live-content.column-3 li.tile-3, .live-content.column-3 li.tile-5, .live-content.column-3 li.tile-7, .live-content.column-3 li.tile-9 {
        margin-right: 4%;
    }

    .live-content.column li a img {
        min-height: 110px;
        min-width: 100%;
        height: auto;
        width: auto;
    }

    #footer {
        margin-top: 20px;
    }

    #footer #top {
    	padding-bottom: 0px;
    }

    #footer .column {
        width: 25%;
    }

    #footer .column#connect {
        padding-top: 15px;
        width: 100%;
    }

    #footer #connect p {
        float: left;
        display: none;
    }

    #footer #connect p.hotline {
        display: block;
    }

    #footer #connect ul {
        float: right;
        padding-top: 0;
    }

    #footer .terms, #footer .copyright {
        float: none;
        text-align: center;
    }

    #footer .terms li {
        display: inline-block;
        float: none;
    }

    #footer .terms li {
        padding: 5px 30px 5px 0;
    }

    .tinynav {
        display: block;
    }

    .tinynav {
    	font-size: 16px;
        margin-bottom: 15px;
        width: 100%;
        display: block;
        height: 40px;
        padding-left: 12px !important;
        padding-right: 10px !important;
        border: 1px solid #0678B3;
        -moz-appearance: none;
        background: url("../images/drop-down.png") no-repeat scroll right center #F7F7F7;
		text-overflow: "";
		-webkit-appearance: none;
    }

    ul.multitab {
        display: none;
    }

    .filter-block {
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dstk-filter .accordion-area {
        margin: 0;
    }

    .dstk-filter .col-md-2 {
        padding-right: 0;
    }

    .dstk-filter .col-md-3 {
        margin-bottom: 5px;
    }

    .filter .form-body {
        padding: 10px;
    }

    .filter .form-actions {
        padding: 0 10px;
    }

    .filter .col-md-8 {
        width: 100%;
    }

    .info-corp .filter .col-md-8 {
        width: 66.66666667%;
    }

    .info-corp p.form-control-static {
        margin: 9px 0;
    }

    .filter .btn.default {
        float: left !important;
    }

    .btn {
        min-width: 49%;
        _float: right;
    }
    
    .loginForm .btn {
    	width: 100%;
    }

    .countbtn1 .btn {
        width: 100%; 
    }

    .countbtn2 .btn {
        width: 49%;
    }

    .countbtn2 .btn:first-child {
        float: left;
    }

    .countbtn2 .btn:last-child {
        float: right;
    }

    .countbtn3 {
    	text-align:center !important;
    }

    .countbtn3 .btn {
        width: 32%;
        min-width: 0 !important;
    }

    .countbtn3 .btn:first-child {
        float: left;
    }

    .countbtn3 .btn:nth-child(2) {
        margin: 0 auto;
    }

    .countbtn3 .btn:last-child {
        float: right;
    }

    .btn.blue {
        padding: 9px 0;
    }

    .btn.red {
        padding: 9px 0;
        margin-right: 0;
    }

    .btn.default {
        padding: 9px 0;
        margin-right: 0px;
    }

    .btn.view {
        padding: 9px 0;
        margin-right: 0;
    }

    a.back-to-top {
        display: none !important;
    }

    .gG {
        width: 25%;
    }    

    .form-control-static input#attachment  {
    	width: 60%;
	}

	.form-control-static #clearFile {
		min-width: 18px;
	}

}

/* Tablet portrait */
@media screen and (max-width: 700px) {
    #mailFrm .action-box {
	    padding: 0;
	}

    #mailFrm .action-box .form-group.email-subject:after {
        margin: 0;
    }

    #mailFrm .form-group.email-subject .table-action {
        right: 0;
    }

    h1.page-title {
        font-size: 24px;
    }

/*    .form-actions >.btn:first-child {
        float: left;
    }*/

    .dstk-filter .form-actions .btn {
        margin: 10px 0;
        width: 100%;
    }

    .action-message {
        padding-left:16%;
    }


	ul.top-action .col-md-6.right, ul.top-action .col-md-6.left {
	    text-align: center;
	    line-height: 17px;
	}

    .page-table table thead {
        display: none;
    }

    .page-table table tr {
        display: block;
        padding: 10px 0;
    }

	.page-table tbody tr:first-child {
		border-top: 1px solid #e1e1e1 !important;
	}

    .page-table tbody tr {
        border: 1px solid #e1e1e1;
        margin-bottom: 8px;
    }

    .page-table table td {
        display: block;
        width: 100%;
        padding: 4px 5%;
    }

    .page-table table td.empty {
        display: none;
    }

    table.table-list tbody tr td {
        padding: 4px 1%;
    }

    .page-table table div.td_title {
        height: 100%;
        display: block;
        float: left;
        width: 40%;
        text-align: left;
        font-weight: normal;
    }

    .page-table table span.title {
        display: inline-block;
    }

    .page-table table span.content {
        display: inline-block;
        text-align: left;
        width: 60%;
        min-height: 14px;
    }

    .action-box {
        padding: 0px 10px 10px 10px;
    }

    #login-form, #login-promote {
        width: 100%;
    }

    #footer {
        background: none;
    }

    #footer #suptools, #footer #individuals, #footer #corporates, #footer #aboutus,  #footer #connect {
        display: none;
        overflow: hidden;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .accordion-content {
        display: none;
        padding: 2px 5px;
    }

    .info-corp p.form-control-static {
        margin: 9px 0;
        padding-left: 15px;
    }

    .live-content.column li:hover .tools {
        display: none;
    }

    .gG {
        width: 35%;
    }

    .form-control-static input#attachment {
    	width: 70%;
	}

    .verify_notice {
        padding: 10px;
        margin-top: 20px;
    }

    .ctk_action table tbody tr:last-child {
        border-bottom: 1px solid #e1e1e1 !important;
        margin-bottom: 20px;
    }

    .info-corp .filter .col-md-8 {
        width: 100%;
    }    
}

/* Smartphone portrait and landscape */
@media screen and (max-width: 400px) {  
    .action-message {
        padding-left: 20%;
    }

    .live-content.column {
        width: 100%;
        padding: 0;
    }

    .live-content.column-3 li {
        width: 100%;
        margin: 0 0 3.5 0;
    }

    .fancybox-opened .fancybox-skin {
        width: 100%;
    }

    .main-navigation {
        border: none;
    }

    #footer .terms {
    	min-width: 300px;
    }
    .iban {
        width: 90%;
    }

    .gG {
        width: 40%;
    }

    .form-control-static input#attachment {
    	width: 80%;
	}   
}

@media 
only screen and (min-resolution:126dpi),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    /*Left menu*/
    .main-navigation li.item-account span {
        background: url("../images/icn-nav-account.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-transfer span {
        background: url("../images/icn-nav-transfer.png") no-repeat;
        background-size: 25px;
        background-position: 10px 12px;
    }

    .main-navigation li.item-payment span {
        background: url("../images/icn-nav-payment.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-deposit span {
        background: url("../images/icn-nav-deposit.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-credit span {
        background: url("../images/icn-nav-credit.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-nsnn span {
        background: url("../images/icn-nav-nsnn.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-support span {
        background: url("../images/icn-nav-support.png") no-repeat;
        background-size: 25px;
        background-position: 12px 12px;
    }

    .main-navigation li.item-trade span {
        background: url("../images/icn-nav-sponsor.png") no-repeat;
        background-size: 25px;
        background-position: 12px 13px;
    }

	.main-navigation li.item-scf span {
	    background: url("../images/icn-nav-scf.png") no-repeat;
	    background-size: 25px;
	    background-position: 12px 7px;
	}

    .main-navigation li.item-verify span {
        background: url("../images/icn-nav-verify.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-report span {
        background: url("../images/icn-nav-report.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li:last-child span {
        background: url("../images/icn-nav-help.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }
    .main-navigation li.item-help span {
        background: url("../images/icn-nav-help.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }
    /*Left menu hover*/
    .main-navigation li.item-account span:hover {
        background: #0678B3 url("../images/icn-nav-white-account.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-transfer span:hover {
        background: #0678B3 url("../images/icn-nav-white-transfer.png") no-repeat;
        background-size: 25px;
        background-position: 10px 12px;
    }

    .main-navigation li.item-payment span:hover {
        background: #0678B3 url("../images/icn-nav-white-payment.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-deposit span:hover {
        background: #0678B3 url("../images/icn-nav-white-deposit.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-credit span:hover {
        background: #0678B3 url("../images/icn-nav-white-credit.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-nsnn span:hover {
        background: #0678B3 url("../images/icn-nav-white-nsnn.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-support span:hover {
        background: #0678B3 url("../images/icn-nav-white-support.png") no-repeat;
        background-size: 25px;
        background-position: 12px 12px;
    }

    .main-navigation li.item-trade span:hover {
        background: #0678B3 url("../images/icn-nav-white-sponsor.png") no-repeat;
        background-size: 25px;
        background-position: 12px 13px;
    }

	.main-navigation li.item-scf span:hover {
	    background: #0678B3 url("../images/icn-nav-white-scf.png") no-repeat;
	    background-size: 25px;
	    background-position: 12px 7px;
	}

    .main-navigation li.item-verify span:hover {
        background: #0678B3 url("../images/icn-nav-white-verify.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-report span:hover {
        background: #0678B3 url("../images/icn-nav-white-report.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li:last-child span:hover {
        background: #0678B3 url("../images/icn-nav-white-help.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }

    .main-navigation li.item-help span:hover {
        background: #0678B3 url("../images/icn-nav-white-help.png") no-repeat;
        background-size: 25px;
        background-position: 12px 7px;
    }
    /* Top nav*/
    .lang-vi {
        background: transparent url("../images/lang-vi.png") no-repeat;
        background-size: 22px 15px;
    }

    .lang-en {
        background: transparent url("../images/lang-en.png") no-repeat;
        background-size: 22px 15px;
    }

    .lang-ja {
        background: transparent url("../images/lang-ja.png") no-repeat;
        background-size: 22px 15px;
    }
    
    .lang-ko {
        /* background: transparent url("../images/lang-ko.png") no-repeat; */
        background-size: 22px 15px;
    }
    
    .lang-zh {
        /* background: transparent url("../images/lang-zh.png") no-repeat; */
        background-size: 22px 15px;
    }
    
       
    .logo.brand {
        background: url("../images/logo-brand.png") no-repeat scroll 0 0 transparent;
        background-size: 203px;
    }

    .nav-box ul li.home a {
        background: url("../images/home-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.home.current a {
        background: url("../images/home-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.noti a {
        background: url("../images/noti-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.noti.current a {
        background: url("../images/noti-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.mail a {
        background: url("../images/mail-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.mail.current a {
        background: url("../images/mail-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.corp a {
        background: url("../images/corp-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.corp.current a {
        background: url("../images/corp-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.account a {
        background: url("../images/account-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.account.current a {
        background: url("../images/account-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.logout a {
        background: url("../images/logout-icn.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    .nav-box ul li.logout.current a {
        background: url("../images/logout-icn-current.png") no-repeat scroll 8px 8px;
        background-size: 25px;
    }

    /* Dashboard icon */
    .live-content.column .title-account {
        background: url("../images/icn-nav-white-account.png") no-repeat 13px 13px #ff8e01;
        background-size: 26px;
    }

    .live-content.column .title-account-details {
        background: url("../images/icn-nav-white-details.png") no-repeat 13px 13px #ff8e01;
        background-size: 26px;
    }    
   
    .live-content.column .title-account-alias {
        background: url("../images/icn-nav-white-alias.png") no-repeat 13px 13px #ff8e01;
        background-size: 26px;
    } 

    .live-content.column .title-transfer {
        background: url("../images/icn-nav-white-inhouse.png") no-repeat 13px 13px #0678B3;
        background-size: 26px;
    }    

    .live-content.column .title-cknht {
        background: url("../images/icn-nav-white-outbank.png") no-repeat 13px 13px #0678B3;
        background-size: 26px;
    }

    .live-content.column .title-lenhchi {
        background: url("../images/icn-nav-white-payment-order.png") no-repeat 13px 13px #0678B3;
        background-size: 26px;
    }   

    .live-content.column .title-cttl {
        background: url("../images/icn-nav-white-batch-transfer.png") no-repeat 13px 13px #0678B3;
        background-size: 26px;
    }

    .live-content.column .title-ctnt {
        background: url("../images/icn-nav-white-international.png") no-repeat 13px 13px #ffcc00;
        background-size: 26px;
    }

    .live-content.column .title-ttl {
        background: url("../images/icn-nav-white-payment.png") no-repeat 13px 13px #c52620;
        background-size: 26px;
    }

    .live-content.column .title-ch {
        background: url("../images/icn-nav-white-ch.png") no-repeat scroll 13px 13px #cc3333;
        background-size: 26px;
    }

    .live-content.column .title-th {
        background: url("../images/icn-nav-white-th.png") no-repeat scroll 13px 13px #cc3333;
        background-size: 26px;
    }

    .live-content.column .title-deposit {
        background: url("../images/icn-nav-white-deposit.png") no-repeat scroll 13px 13px #006dca;
        background-size: 26px;
    }

    .live-content.column .title-withdrawal {
        background: url("../images/icn-nav-white-withdrawal.png") no-repeat scroll 13px 13px #006dca;
        background-size: 26px;
    }

    .live-content.column .title-tnkv {
        background: url("../images/icn-nav-white-loan-payment.png") no-repeat 13px 13px #006dca;
        background-size: 26px;
    }

    .live-content.column .title-ntnd {
        background: url("../images/icn-nav-white-domestic-tax.png") no-repeat 13px 13px #7dbb00;
        background-size: 26px;
    }

    .live-content.column .title-nthq {
        background: url("../images/icn-nav-white-customs-tax.png") no-repeat 13px 13px #7dbb00;
        background-size: 26px;
    }

    .live-content.column .title-ts {
        background: url("../images/icn-nav-white-trace.png") no-repeat 13px 13px #00b580;
        background-size: 26px;
    }

    .live-content.column .title-gycpv {
        background: url("../images/icn-nav-white-service-request.png") no-repeat 13px 13px #00aab1;
        background-size: 26px;
    }

    .live-content.column .title-statistics {
        background: url("../images/icn-nav-white-report.png") no-repeat 13px 13px #00aab1;
        background-size: 26px;
    }

    .live-content.column .title-search {
        background: url("../images/icn-nav-white-search.png") no-repeat 13px 13px #00b580;
        background-size: 26px;
    }

    .live-content.column .title-beneficiaries {
        background: url("../images/icn-nav-white-service-beneficiaries.png") no-repeat 13px 13px #006dca;
        background-size: 26px;
    }

    .live-content.column .title-activity-log {
        background: url("../images/icn-nav-white-activity-log.png") no-repeat 13px 13px #00aab1;
        background-size: 26px;
    }

    .live-content.column .title-faq {
        background: url("../images/icn-nav-white-faq.png") no-repeat 13px 13px #00b580;
        background-size: 26px;
    }

    /* Table action */
    .table-action a.print {
        background-image: url("../images/action-print.png");
        background-size: 19px;
    }
    .table-action a.att-file {
        background-image: url("../images/att-file.png");
        background-size: 19px;
    }

    .table-action a.sent {
        background-image: url("../images/email-sent.png");
        background-size: 19px;
    }

    .table-action a.reci {
        background-image: url("../images/email-rec.png");
        background-size: 19px;
    }

    .table-action a.exp-file {
        background-image: url("../images/exp-file.png");
        background-size: 19px;
    }
    
    ul.email-action li a.print-email {
        background-image: url("../images/action-print.png");
        background-size: 19px;
    }
    ul.email-action li a.down-attfile {
        background-image: url("../images/att-file.png");
        background-size: 19px;
    }

    ul.email-action li a.sent {
        background-image: url("../images/email-sent.png");
        background-size: 19px;
    }

    ul.email-action li a.reci {
        background-image: url("../images/email-rec.png");    
        background-size: 19px;
    }

    .inline .formErrorContent{
        background-image: url("../images/error_icon_large.png");    
        background-size: 20px;
    }

    .form-control-static #clearFile  {
   		background: url("../images/DeleteRed_large.png") no-repeat;
   		background-size: 19px;
	}

    .action-message.confirm  {
        background: #9cd2ff url("../images/icn-large-shield.png") no-repeat;
        background-size: 45px;
    }

    .action-message.info, .action-message.success {
        background: #DFF2BF url("../images/icn-large-success.png") no-repeat;
        background-size: 45px;
    }

    .action-message.explain {
        background: #BDE5F8 url("../images/icn-large-explain.png") no-repeat;
        background-size: 45px;
    }

    .action-message.warning {
        background: #FEEFB3 url("../images/icn-large-warning.png") no-repeat;
        background-size: 45px;
    }

    .action-message.failure {
        background: #FFBABA url("../images/icn-large-failure.png") no-repeat;
        background-size: 45px;
    }
}

/* 15/05/2014 - Edit for rps menu */

@-moz-document url-prefix() {
    .dstk-filter .btn {
        padding: 7px 21px;
    }
}

/*SCF :: Begin*/
div.scf-tooltip{
    background: #A2CDF8;
	-moz-border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 9;
	width: 400px; 
}
h3.scf-tooltip-title{
	background: #A2CDF8;
	margin: 0;
	padding: 3px 10px 8px;
	font-size: 1.1em;
	font-weight: normal;
	color: white;
	font-weight: bold;
	position: relative;
}
div.scf-tooltip-content{
	padding: 10px;
	background: #F9FCFF;
	-moz-border-radius: 6px;
	color: black;
}
/*SCF :: End*/

tr.group
{
    cursor:pointer;
}
.group .icon-sign:after{
  content:"\f055";
  display:inline-block;      
}
.group.expand .icon-sign:after{
  content:"\f056";
 }


a.img-new-file {
    background-image: url(../images/img_new_file.png);
    background-position: -9px 5px 5px 5px;
    background-repeat: no-repeat;
    background-size: 21%;
    width: 185px;
    height: 29px;
    background-position-y: top center;
    background-position: right -2px;
    padding-top: 4px;
}
